:root {
  --ff-primary: 'League Spartan', sans-serif;

  --fw-reg: 400;
  --fw-bold: 500;
  --fw-bolder: 700;

  --fs-h1: 2.5em;
  --fs-p: 1.25em;
  --fs-body: 15px;

  --fs-h1-big: 3.5em;
  --fs-p-big: 1.75em;

  --set-radius: 10px;

  --clr-magenta-500: hsl(300, 43%, 22%);
  --clr-magenta-200: hsl(303, 10%, 53%);
  --clr-magenta-050: hsl(300, 24%, 96%);
  --clr-pink-300: hsl(333, 80%, 67%);
  --clr-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}



body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  background-image: url(./images/bg-pattern-bottom-mobile.svg);
  /* todo: figure out how this image is supposed to fit */
  object-fit: fill;
  background-repeat: no-repeat;
  margin: 1.5em;
}

section {
  max-width: 400px;
  margin: 3em auto;
}

@media (min-width: 800px) {
  body {
    margin: 0 auto;
    max-width: 1200px;
    background-image: url(./images/bg-pattern-top-desktop.svg);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "head-1 head-2"
    "footer footer"
  }

  .header {
    grid-area: head-1;
  }

  .ratings {
    grid-area: head-2;
  }


  section {
    max-width: none;
    margin: 2em;
  }


}

/*  
############
Header
############
*/

.header {
  color: var(--clr-magenta-200);
  text-align: center;
}

.header h1 {
  font-size: var(--fs-h1);
  color: var(--clr-magenta-500);
  margin-bottom: .5em;
}

.header p {
  font-size: var(--fs-p);
}

@media (min-width: 800px) {
  .header {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .header h1 {
    font-size: var(--fs-h1-big);
  }

  .header p {
    font-size: var(--fs-p-big);
  }
}

/*  
############
Ratings
############
*/

.rating-container {
  background-color: var(--clr-magenta-050);
  margin-bottom: 1em;
  text-align: center;
  padding: .5em 0;
  border-radius: var(--set-radius);
}

.stars {
  padding: .5em 0;
}

.stars img {
  padding: 0 .1em;
}

.rating-container p {
  color: var(--clr-magenta-500);
  font-weight: var(--fw-bolder);
  padding: .5em 0;
}

@media (min-width: 800px) {
  .ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rating-container {
    display: flex;
    max-width: 450px;
    min-width: max-content;
    justify-content: space-around;
    align-items: center;
    padding: 0 .5em;
    font-size: var(--fs-p);
  }

  .rating-container:nth-child(1) {
    margin-right: 4em;
  }
  .rating-container:nth-child(2) {
    margin: 0 2em 1em;
  }
  .rating-container:nth-child(3) {
    margin-left: 4em;
  }
}


/*  
############
Raves
############
*/

.rave {
  background-color: var(--clr-magenta-500);
  border-radius: var(--set-radius);
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  line-height: 1.5em;
  padding: 2em;
  margin-bottom: 1em;
  font-weight: var(--fw-bolder);
}

.profile-head {
  display: flex;
  margin-bottom: 2em;
}

.profile-head img {
  width: 3em;
  border-radius: 50%;
  margin-right: 1em;
}



.rave span {
  display: block;
  color: var(--clr-pink-300);
}


.rave .title {
  color: var(--clr-pink-300);
}

@media (min-width: 800px) {
  .raves {
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    grid-area: footer;
    max-width: 100%;
  }

  .rave .name {
    font-size: var(--fs-p);
  }

  .rave {
    margin: .5em;
  }

  .rave:nth-child(2) {
    margin-top: 2em;
  }
  .rave:nth-child(3) {
    margin-top: 4em;
  }
}

/*  
############
Footer
############
*/

/* todo: Fix to bottom */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
