:root {
  --ff-primary: 'League Spartan', sans-serif;

  --fw-reg: 400;
  --fw-bold: 500;
  --fw-bolder: 700;

  --fs-h1: 2.5em;
  --fs-p: 1.25em;
  --fs-body: 15px;

  --set-radius: 10px;

  --clr-magenta-500: hsl(300, 43%, 22%);
  --clr-magenta-200: hsl(303, 10%, 53%);
  --clr-magenta-050: hsl(300, 24%, 96%);
  --clr-pink-300: hsl(333, 80%, 67%);
  --clr-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}



body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  background-image: url(./images/bg-pattern-bottom-mobile.svg);
  /* todo: figure out how this image is supposed to fit */
  object-fit: fill;
  margin: 1.5em;
}

section {
  margin: 3em auto;
}

/* todo: At 450px make the expanstion stop, then have it switch layouts at 650px */
/* todo: Tinker with this */

@media (min-width: 400px) {
  section {
    max-width: 400px;
  }
}

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "head-1 head-2"
    "footer footer"
  }

  .header {
    grid-area: head-1;
  }

  .ratings {
    grid-area: head-2;
  }

  /* todo: Figure out how this will be set up in grid */
  .raves {
    display: grid;
    grid-template-columns: repeat(8 1fr);
    grid-area: footer;
  }

  .rave.grid-1 {
    grid-column-start: 1;
  }

  .rave.grid-2 {
    grid-row-start: 3;
  }

  .rave.grid-3 {
    grid-row-start: 5;
  }
}

/*  
############
Header
############
*/

.header {
  color: var(--clr-magenta-200);
  text-align: center;
}

.header h1 {
  font-size: var(--fs-h1);
  color: var(--clr-magenta-500);
  margin-bottom: .5em;
}

.header p {
  font-size: var(--fs-p);
}

/*  
############
Ratings
############
*/

.rating-container {
  background-color: var(--clr-magenta-050);
  margin-bottom: 1em;
  text-align: center;
  padding: .5em 0;
  border-radius: var(--set-radius);
}

/* todo margin-bottom 0 on last .rating-container */

.stars {
  padding: .5em 0;
}

.stars img {
  padding: 0 .1em;
}

.rating-container p {
  color: var(--clr-magenta-500);
  font-weight: var(--fw-bolder);
  padding: .5em 0;
}


/*  
############
Raves
############
*/

.rave {
  background-color: var(--clr-magenta-500);
  border-radius: var(--set-radius);
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  line-height: 1.5em;
  padding: 2em;
  margin-bottom: 1em;
  font-weight: var(--fw-bolder);
}

.profile-head {
  display: flex;
  margin-bottom: 2em;
}

.profile-head img {
  width: 3em;
  border-radius: 50%;
  margin-right: 1em;
}



.rave span {
  display: block;
  color: var(--clr-pink-300);
}


.rave .title {
  color: var(--clr-pink-300);
}

/*  
############
Footer
############
*/

/* todo: Fix to bottom */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
